<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ona.linkapp">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_random_box2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_random_box2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activities.ForkCollectionActivity"/>
        <activity android:name=".main.activities.ScanActivity" />
        <activity android:name=".main.activities.QrCodeActivity" />
        <activity android:name=".main.activities.AddLinkToCollectionActivity" />
        <activity android:name=".loginAndRegister.RegisterActivity" />
        <activity android:name=".loginAndRegister.LoginActivity" />
        <activity android:name=".main.activities.SearchActivity" />
        <activity android:name=".main.activities.AddGroupActivity" />
        <activity android:name=".main.activities.AddCollActivity" />
        <activity android:name=".main.activities.AddLinkActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity android:name=".main.activities.LinkDetailActivity" />
        <activity android:name=".main.activities.CollectionDetailActivity" />
        <activity android:name=".main.activities.AllCollActivity" />
        <activity android:name=".main.activities.AllLinkActivity" />
        <activity android:name=".splash.OnboardingActivity" />
        <activity android:name=".splash.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity" />
    </application>

</manifest>